body{
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, orange, orangered);
  padding-top: 7rem;
}

.contents{
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 5rem;
}

.first-content{
  padding: 4em 0;
  text-align: center;
}
.first-content .fa-triangle{
  font-size: 3rem;
  color: #fff;
  transform: rotate(180deg);
}

.first-content h1{
  font-size: 2em;
  padding-top: 1em;
  color: #fff;
}

.first-content p{
  color: #fff;
  padding-top: 1em;
}
.first-content .btn{
  color: #000;
  font-weight: 600;
  background-color: #fff;
  border-radius: 100px;
  padding: 0.5em 1.5em;
}
.first-content .btn:hover{
  opacity: 80%;
}

.second-content{
  padding: 2em;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.second-content h1{
  text-align: center;
  font-size: 2rem;
}

input{
  width: 100%;
  margin: .5em;
  padding: 0.3em;
  border-radius: 5px;
  border: 1px solid gray;
}

.second-content .button{
  padding-top: 1.5em;
  text-align: right;
}

.second-content .btn{
  background-color: orange;
  color: #fff;
  border-radius: 100px;
  padding: 0.5em 1.5em;
  outline: none;
  border: none;
}

.second-content .btn:hover{
  opacity: 80%;
}

@media (max-width: 800px) {
  .contents{
    display: block;
  }
  .wrapper{
    padding-top: 0;
    height: 110vh;
  }
  .first-content{
    margin-top: -30px;
    margin-bottom: -40px;
  }
}